extends layout

block content
  body
    h1 HOST add info to the new event host is creating (event/:id/addinfo)

    name Name: #{event.name}
    br
    time Time: #{event.time}
    br
    date Date: #{event.date}
    br
    description Desctipion: #{event.description}
    br
    location Location: #{event.location}

    hr

    h2 List of Dishes You Want Guests To bring
    dishesToBring
      h3 Events you are Hosting:
      if dishes.length
        ul
          each dish in dishes
            li= dish.course
      else
        p You haven't decided on any dishes for your guests to bring

    h3 Add a Dish You Want Guests To Bring:
    - var dishAction = '/dish/' + event.id + "/" + userId
    form(method="post" action=dishAction)
      select(name="course")
        option(value='entree') Entree
        option(value='main') Main
        option(value='salad') Salad
        option(value='dessert') Dessert
      input(type='submit', value='Add Dish')

    hr

    h2 Who Do You Want To Invite?
    invitedGuests
      h3 List of invited guests:
      if guests.length
        ul
          each guest in guests
            li= guest.name
      else
        p You haven't invited any guests

    h3 Choose someone to invite:
    form(method="post" action="/guest/newGuest")
      input(type='hidden',name='eventId' ,value=event.id )
      input(type='text', name='email' placeholder='type guests email')
      input(type='submit', value='Invite Guest')

    hr

    form(method="get" action='/user/' + userId)
      input(type='submit', value='Done')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
