extends layout

block content
  body
    .pageTitle
      h1 GUEST view event page (event/:id)
    
    .eventInfo
      .name
        name Name: #{event.name}
      .time
        time Time: #{event.time}
      .date
        date Date: #{event.date}
      .description
        description Desctipion: #{event.description}
      .location
        location Location: #{event.location}
    
    
    .guestsDishes
      .title
        h2 Dishes Guests need to bring
      .dishes
        each dish in dishes
          .dish
            .course #{dish.course}
            .dishUser #{dish.userId}
            .dishName #{dish.name}
            
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
