extends layout

block content
  body
  .container
    .row
      .col-md-4
      .col-centered
        .pageTitle
          h1 Upcoming Events

        .eventInfo
          .name
            name Name: #{event.name}
          .time
            time Time: #{event.time}
          .date
            date Date: #{event.date}
          .description
            description Desctipion: #{event.description}
          .location
            location Location: #{event.location}


        .guestsDishes
          .title
            h2 Dishes Guests need to bring
          .dishes
            each dish in dishes
              .dish
                .course #{dish.course}
                if dish.userName
                  .dishUser #{dish.userName}
                else
                  .dishUser
                    form(method='post' action='/dish/claim/' + dish.id + '/' + userId + '/' + event.id)
                      input(type='submit', value="I'll Bring This!")
                if dish.name
                  .dishName #{dish.name}
                else
                  form(method='post' action='/dish/name/' + dish.id + '/' + userId + '/' + event.id)
                    input(type='text' name='newDishName')
                    input(type='submit', value="Add Dish Name")
                          
        
