extends layout

block content
  body
    
    h1 User Homepage
  
    name Name: #{user.name}
    br
    time Email: #{user.email}
  
    hr
  
    form(method="get" action="/event/new")
      input(type='submit', value='Create Event')
    
    hr
    
    .eventsHosting
      h3 Events you are Hosting:
      if hostedEvents.length
        each event in hostedEvents
          .event
            a(href='/event/' + event.id) #{event.name} #{event.date} #{event.time}
      else
        p You're not hosting any events
        
    hr

    .eventsGuesting
      h3 Events you are Invited to:
      if guestedEvents.length
        each event in guestedEvents
          .event
            a(href='/event/' + event.id) #{event.name} #{event.date} #{event.time}
      else
        p You're not invited to any events
